<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Title Details </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" />

</head>
<body>
    <div class="detailflex" style="display: flex; flex-direction: column;">
        <h1> <%= detail.details.title %> </h1>
        <h1> Genres: </h1>
        <ul>
        <% for(let i = 0; i < detail.details.genres.length; i++) { %>
            <li> <h2> <%= detail.details.genres[i].name %> </h2> </li>
        <% } %>
        </ul>
        <h1> Year of Release: <%= detail.details.releaseYear %> </h1>
        <h1> Synopsis: </h1>
        <h2> <%= detail.details.synopsis %> </h2>
        <h1> Cast: </h1>
        <ul>
            <% for(let i = 0; i < detail.details.cast.length; i++) { %>
                <li> <h2> <%= detail.details.cast[i].name %> </h2> </li>
            <% } %>
        </ul>
        <h1> Directors: </h1>
        <ul>
            <% for(let i = 0; i < detail.details.directors.length; i++) { %>
                <li> <h2> <%= detail.details.directors[i].name %> </h2> </li>
            <% } %>
        </ul>
        <h1> Writers: </h1>
        <ul>
                <% for(let i = 0; i < detail.details.writers.length; i++) { %>
                    <li> <h2> <%= detail.details.writers[i].name %> </h2> </li>
                <% } %>
        </ul>
        <h1> Family Friendly Content or Not? </h1>
        <ul>
            <li> Rating: <h2> <%= detail.details.maturity.rating.value %> </h2></li>
            <li> Trigger warnings: <h2> <%= detail.details.maturity.rating.maturityDescription %> </h2></li>
        </ul>
        <h1> Facts about this <%= detail.details.type %> : </h1>
        <ul>
            <li> <h2> <%= detail.details.supplementalMessage %> </h2> </li>
        </ul>
        <% var cc = detail.details.delivery.hasTextClosedCaptions ? "Available" : "Not Available"; %>
        <h1> Subtitles: <%= cc %> </h1>
        <h1> Quality: <%= detail.details.delivery.quality %> </h1>
    </div>
</body>
</html>